/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 may. 2020, 13:30:30
    Author     : atascg01
*/

.center_div{
    margin: 0 auto;
    width: 80%
}