<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="css/index.css">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title>Hello, world!</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
                <img src="img/logo.png" width="30" height="30" alt="">
                PICO CCTV
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/addCamera">Add Camera</a>
                    </li>
                </ul>
            </div>
            <form th:action="@{/search}" class="form-inline my-2 my-lg-0 mr-4">
                <input autofocus="autofocus" name="q" class="form-control mr-sm-2" type="search" placeholder="Search by name" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>

        <form>
            <div class="container center_div">
                <div class="form-group mt-4">
                    <label for="inputName">Camera name</label>
                    <input required="true" type="text" class="form-control" id="exampleInputName" placeholder="Camera 1">
                </div>
                <div class="form-group">
                    <label for="inputIP">Camera IP</label>
                    <input required="true" type="text" class="form-control" id="exampleInputIp" placeholder="192.168.1.1">
                </div>
                <div class="form-group">
                    <label for="inputDescription">Camera Description</label>
                    <input type="text" class="form-control" id="exampleInputDescription" placeholder="">
                </div>
                <div class="form-group">
                    <label for="inputUrl">Image URL</label>
                    <input type="text" class="form-control" id="exampleInputURL" placeholder="">
                </div>
                <div class="form-group">
                    <label for="inputResolution">Camera Resolution</label>
                    <input type="text" class="form-control" id="exampleInputResolution" placeholder="1024x768">
                </div>
                <div class="form-group">
                    <label for="inputColor">Camera Color</label>
                    <input type="text" class="form-control" id="exampleInputColor" placeholder="RGB">
                </div>
                <button type="submit" class="btn btn-primary">Add Camera</button>
            </div>
        </form>