<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" th:href="@{/css/index.css}">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title>Hello, world!</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #b3cbff;">
            <img th:src="@{/img/logo.png}" width="40" height="40" alt="">
            <a class="navbar-brand ml-1" href="/home">PICO CCTV</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <img class="mt-1 ml-2" th:src="@{/img/house.png}" width="30" height="30" alt="">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <img class="mt-1 ml-2" th:src="@{/img/add.png}" width="30" height="30" alt="">
                    <li class="nav-item">
                        <a class="nav-link" href="/camera/new">Add Camera</a>
                    </li>
                    <img class="mt-1 ml-2" th:src="@{/img/settings.png}" width="30" height="30" alt="">
                    <li class="nav-item">
                        <a class="nav-link" href="/configuration/new">Add Configuration</a>
                    </li>
                </ul>
            </div>
            <form th:action="@{/search}" class="form-inline my-2 my-lg-0 mr-4">
                <input autofocus="autofocus" name="q" class="form-control mr-sm-2" type="search" placeholder="Search by name" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <img class="ml-5" th:src="@{/img/sign.png}" width="30" height="30" alt="">
            <a class="navbar-brand ml-1 mr-2" href="/user/login">Sign out</a>
        </nav>

        <div class="container center_div">
            <h1 class="mt-4">New Configuration</h1>
            <form method="post" th:action="@{/configuration/save}" th:object="${configuration}">
                <div class="form-group mt-4">
                    <label for="name">Camera name</label>
                    <input required="true" th:field="*{name}" type="text" class="form-control" name="name" id="name" placeholder="Configuration 1">
                </div>
                <div class="form-group">
                    <label for="color">Configuration Color</label>
                    <select class="form-control" th:field="*{color}" id="color">
                        <option th:value="RGB" th:text="RGB"></option>
                        <option th:value="CMYK" th:text="CMYK"></option>
                        <option th:value="Grayscale" th:text="Grayscale"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="resolution">Camera Resolution</label>
                    <select class="form-control" th:field="*{resolution}" id="resolution">
                        <option th:value="640x360" th:text="640x360"></option>
                        <option th:value="800x600" th:text="800x600"></option>
                        <option th:value="1024x768" th:text="1024x768"></option>
                        <option th:value="1440x900" th:text="1440x900"></option>
                        <option th:value="1920x1080" th:text="1920x1080"></option>
                    </select>
                </div>
                <a href="/home" class="btn btn-danger">Cancel</a>
                <button type="submit" class="btn btn-primary">Add Configuration</button>
            </form>
        </div>