<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" th:href="@{/css/index.css}">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title>Hello, world!</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #b3cbff;">
            <img th:src="@{/img/logo.png}" width="40" height="40" alt="">
            <a class="navbar-brand ml-1" href="/">PICO CCTV</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <img class="mt-1 ml-2" th:src="@{/img/house.png}" width="30" height="30" alt="">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <img class="mt-1 ml-2" th:src="@{/img/add.png}" width="30" height="30" alt="">
                    <li class="nav-item">
                        <a class="nav-link" href="/camera/new">Add Camera</a>
                    </li>
                </ul>
            </div>
            <form th:action="@{/search}" class="form-inline my-2 my-lg-0 mr-4">
                <input autofocus="autofocus" name="q" class="form-control mr-sm-2" type="search" placeholder="Search by name" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <img class="ml-5" th:src="@{/img/sign.png}" width="30" height="30" alt="">
            <a class="navbar-brand ml-1 mr-2" href="/user/login">Sign out</a>
        </nav>

        <div class="container center_div">
            <h1 class="mt-4">Edit Camera</h1>
            <form method="post" th:action="@{/camera/edit/confirm(id=${camera.id})}" th:object="${camera}">
                <div class="form-group mt-4">
                    <label for="name">Camera name</label>
                    <input required="true" th:field="*{name}" type="text" class="form-control" name="name" id="name" placeholder="Camera 1">
                </div>
                <div class="form-group">
                    <label for="ip">Camera IP</label>
                    <input required="true" th:field="*{ip}" type="text" class="form-control" name="ip" id="ip" placeholder="192.168.1.1">
                </div>
                <div class="form-group">
                    <label for="description">Camera Description</label>
                    <input type="text" th:field="*{description}" class="form-control" name="description" id="description" placeholder="My camera">
                </div>
                <div class="form-group">
                    <label for="urlImage">Image URL</label>
                    <input type="text" th:field="*{urlImage}" class="form-control" name="urlImage" id="urlImage" placeholder="">
                </div>
                <div class="form-group">
                    <label for="configuration">Configuration</label>
                    <select class="form-control" th:field="*{configuration}" id="configuration">
                        <option th:each="configuration : ${configurations}" th:value="${configuration.id}" th:text="${configuration.name}"></option>
                    </select>
                </div>
                <a href="/" class="btn btn-danger">Cancel</a>
                <button type="submit" class="btn btn-primary">Confirm</button>
            </form>
        </div>